<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_for %><br />
    <%= f.text_field :schedule_for %>
  </div>
  <div class="field">
    <%= f.label :schedule_accepted %><br />
    <%= f.text_field :schedule_accepted %>
  </div>
  <div class="field">
    <%= f.label :schedule_accepted_by %><br />
    <%= f.text_field :schedule_accepted_by %>
  </div>
  <div class="field">
    <%= f.label :played_on %><br />
    <%= f.text_field :played_on %>
  </div>
  <div class="field">
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :winner %><br />
    <%= f.text_field :winner %>
  </div>
  <div class="field">
    <%= f.label :scheduled_by %><br />
    <%= f.text_field :scheduled_by %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </div>
  <div class="field">
    <%= f.label :potential_oponents %><br />
    <%= f.text_field :potential_oponents %>
  </div>
  <div class="field">
    <%= f.label :player1 %><br />
    <%= f.text_field :player1 %>
  </div>
  <div class="field">
    <%= f.label :player2 %><br />
    <%= f.text_field :player2 %>
  </div>
  <div class="field">
    <%= f.label :loser %><br />
    <%= f.text_field :loser %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
